<article class='container column'>
  <header class='container header'>
    <h1 class='title'>DND - GERENCIADOR DE SESSÃO</h1>
  </header>

  <mat-tab-group>
    <mat-tab label="Jogadores">
      <mat-card>
        <Players></Players>
      </mat-card>
    </mat-tab>
    <mat-tab label="Monstros">
      <mat-card>
        <Monsters></Monsters>
      </mat-card>
    </mat-tab>
    <mat-tab label="Combate">
      <mat-card>
        <Combat></Combat>
      </mat-card>
    </mat-tab>
  </mat-tab-group>

</article>
