.monster {
  border-left: 1px solid black;
  border-right: 1px solid black;
  border-bottom: 1px solid black;
  padding: 10px;

  &:first-of-type {
    border-top: 1px solid black;
  }
}

.monster-list {
  justify-content: space-between;
  align-items: center;

  .monster-card {
    margin: 15px 0;
  }
}
